# Node.js
node_modules/
dist/
build/
pnpm-lock.yaml
package-lock.json
yarn.lock

# Environment files
.env
.env.local

# Rust / Anchor
target/

# Logs
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
